<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:spring.properties"/>

    <!-- 协议配置信息 -->
    <bean id="protocolConfig" class="com.mydubbo.config.ProtocolConfig">
        <constructor-arg name="name" value="${config.protocol.name}"/>
        <constructor-arg name="host" value="${config.protocol.host}"/>
        <constructor-arg name="port" value="${config.protocol.port}"/>
        <constructor-arg name="charset" value="${config.protocol.charset}"/>
    </bean>

    <!-- 服务注册方式 -->
    <bean id="registryDiscoveryFactory" class="com.mydubbo.registry.RegistryDiscoveryFactory">
        <constructor-arg name="registryType" value="${service.registry.type}"/>
    </bean>

    <bean id="rpcClient" class="com.mydubbo.rpc.RpcClient">
        <constructor-arg name="config" ref="protocolConfig"/>
        <constructor-arg name="registryDiscoveryFactory" ref="registryDiscoveryFactory"/>
    </bean>

    <bean id="rpcServer" class="com.mydubbo.rpc.RpcServer">
        <constructor-arg name="config" ref="protocolConfig"/>
        <constructor-arg name="registryDiscoveryFactory" ref="registryDiscoveryFactory"/>
    </bean>
</beans>
